<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= flight.flightNo %></title>
</head>
<body>
    <div class="topnav">
        <a href="/flights">All Flights</a>
        <a href="/flights/new">New Flight</a>
      </div>
    <section id="show-page">
    <div id="flightinfo"><%= flight.airline %></div>
    <div id="flightinfo"><%= flight.airport %></div>
    <div id="flightinfo"><%= flight.flightNo %></div>
    <div id="flightinfo"><%= flight.departs %></div>
    </section>
    <br><br><h2>Destinations</h2>
    <form id="add-destination-form" method="POST"
      action="/flights/<%= flight._id %>/destinations">
      <label>Destination</label>
      <label>Airport
        <select name="airport">
          <option value="AUS">AUS</option>
          <option value="DFW">DFW</option>
          <option value="DEN">DEN</option>
          <option value="LAX">LAX</option>
          <option value="SAN">SAN</option>
        </select></label>
        <label>Arrival Time
            <input type="datetime-local" name="arrival">
        </label>
      <input type="submit" value="Add Destination">
    </form>
  <% if (flight.destinations.length) { %>
        <table>
          <thead>
            <tr>
                <th>Airport</th>
                <th>Arrival</th>
            </tr>
          </thead>
          <tbody>
            <% flight.destinations.forEach(function(r) { %>
              <tr>
                <td><%= r.airport %></td>
                <td><%= r.arrival%></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } else { %>
        <h5>No Destinations Yet</h5>
      <% } %>
      <button onclick="document.location='/flights/<%= flight._id %>/tickets/new'">Add Ticket</button>
      <% if (tickets.length) { %>
        <table>
          <thead>
            <tr>
                <th>Seat</th>
                <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <% tickets.forEach(function(t) { %>
              <tr>
                <td><%= t.seat %></td>
                <td><%= t.price %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } else { %>
        <h5>No Tickets Yet</h5>
      <% } %>       
</body>
</html>